<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills Homepage</title>
</head>
<body>
    <div>
        <a class="button add font" href="/new">Add</a>
    </div>
    <h1>All Bills</h1>
    <div>
        <% bills.forEach(bill => { console.log(bill.name)%>
            <div>
                <div><%= bill.name %></div>
                <div><%= bill.price %></div>
            </div>
            <div>
                <a href="/<%=bill._id%>">Edit</a>
                <form action="/<%=bill.id%>?_method=Delete" method="POST">
                    <input type="submit"
                    value="Delete" />
                </form>
                <!-- <a class="font" href="/">Delete</a> -->
            </div>
       <% }) %>
    </div>
</body>
</html>