<h1>Add Ingredients</h1>

<form action="/add" method="POST">

    <div class="inputParent">
        <label for="name">Bill Name:</label>
        <input type="text" name="name">
        <label for="price">Price:</label>
        <input type="text" name="price">
    </div>

    <input type="submit">
    <a href="/">Cancel</a>

</form>